In [7]:
import yfinance as yf
import pandas as pd


spy = yf.Ticker("SPY")

In [ ]:
# Usar period="max" para obtener todos los datos disponibles
all_data = spy.history(period="max")

In [14]:

def calculate_monthly_returns(df):
    """
    Calcula los retornos mensuales compuestos a partir de datos de precios diarios.

    Parámetros:
    df (pd.DataFrame): DataFrame con un índice de tipo DatetimeIndex y una
                       columna de 'Close' prices.

    Retorna:
    pd.DataFrame: DataFrame con los retornos mensuales.
    """
    # 1. Calcular el retorno diario como un porcentaje
    df['Daily_Return'] = df['Close'].pct_change()

    # 2. Calcular los retornos mensuales compuestos
    # Se suma 1 para obtener el factor de crecimiento diario
    # Se agrupa por mes ('M') y se multiplican los factores de crecimiento con .prod()
    # Finalmente, se resta 1 para obtener el retorno porcentual del mes
    monthly_returns = (1 + df['Daily_Return']).resample('M').prod() - 1

    # Convertir a DataFrame y renombrar la columna para mayor claridad
    monthly_returns_df = monthly_returns.to_frame(name='Monthly_Return')
    
    return monthly_returns_df

In [16]:
calculate_monthly_returns(all_data)

/var/folders/k3/mxmwg9sn6493d3jlrpz_d3dm0000gn/T/ipykernel_16854/1231830229.py:19: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_returns = (1 + df['Daily_Return']).resample('M').prod() - 1

                           Monthly_Return
Date
1993-01-31 00:00:00-05:00        0.000000
1993-02-28 00:00:00-05:00        0.010668
1993-03-31 00:00:00-05:00        0.022400
1993-04-30 00:00:00-04:00       -0.025588
1993-05-31 00:00:00-04:00        0.026969
...                                   ...
2025-05-31 00:00:00-04:00        0.062845
2025-06-30 00:00:00-04:00        0.051386
2025-07-31 00:00:00-04:00        0.023032
2025-08-31 00:00:00-04:00        0.020520
2025-09-30 00:00:00-04:00        0.019161

[393 rows x 1 columns]

## EXTRACCION DE DATOS

In [ ]:
import pandas as pd

# Leer todo el archivo (primera hoja por defecto)
df0 = pd.read_excel("../src/preprocessing/data/raw/Fondo0-ag2025.XLS")

# Datos del fondo 0
# Acceder por índice (fila, columna)
afp_habitat_0 = df0.iloc[20, 1]
afp_integra_0 = df0.iloc[21, 1]
afp_prima_0 = df0.iloc[22, 1]
afp_profuturo_0 = df0.iloc[23, 1]

# Leer todo el archivo (primera hoja por defecto)
df1 = pd.read_excel("../src/preprocessing/data/raw/Fondo1-ag2025.XLS")

# Datos del fondo 1
# Acceder por índice (fila, columna)
afp_habitat_1 = df1.iloc[20, 1]
afp_integra_1 = df1.iloc[21, 1]
afp_prima_1 = df1.iloc[22, 1]
afp_profuturo_1 = df1.iloc[23, 1]

# Leer todo el archivo (primera hoja por defecto)
df2 = pd.read_excel("../src/preprocessing/data/raw/Fondo2-ag2025.XLS")

# Datos del fondo 2
# Acceder por índice (fila, columna)
afp_habitat_2 = df2.iloc[19, 1]
afp_integra_2 = df2.iloc[20, 1]
afp_prima_2 = df2.iloc[21, 1]
afp_profuturo_2 = df2.iloc[22, 1]

# Leer todo el archivo (primera hoja por defecto)
df3 = pd.read_excel("../src/preprocessing/data/raw/Fondo3-ag2025.XLS")

# Datos del fondo 3
# Acceder por índice (fila, columna)
afp_habitat_3 = df3.iloc[20, 1]
afp_integra_3 = df3.iloc[21, 1]
afp_prima_3 = df3.iloc[22, 1]
afp_profuturo_3 = df3.iloc[23, 1]

RENTABILIDAD ANUALIZADA DE AFP X FONDO

   afp_habitat  afp_integra  afp_prima  afp_profuturo
0       5.1291       5.0048     5.1002         4.9768
1       5.8547       2.9422     4.6171         5.5573
2       8.7947       5.3730     4.9289         5.5165
3      12.5825       4.6428     2.6325         7.0017

RENTABILIDAD MENSUAL DE AFP X FONDO

   afp_habitat  afp_integra  afp_prima  afp_profuturo
0     0.163098     0.161114   0.162640       0.160662
1     0.173994     0.121101   0.154674       0.169662
2     0.209435     0.166887   0.159884       0.169054
3     0.242839     0.155113   0.113484       0.189228

## CALCULO DE RENTABILIDAD MENSUAL

In [ ]:
afp_habitat = [afp_habitat_0, afp_habitat_1, afp_habitat_2, afp_habitat_3]
#display(fondo0)
afp_integra = [afp_integra_0, afp_integra_1, afp_integra_2, afp_integra_3]
#display(fondo1)
afp_prima = [afp_prima_0, afp_prima_1, afp_prima_2, afp_prima_3]
#display(fondo2)
afp_profuturo = [afp_profuturo_0, afp_profuturo_1, afp_profuturo_2, afp_profuturo_3]
#display(fondo3)

df_raw = pd.DataFrame({
    'afp_habitat': afp_habitat,
    'afp_integra': afp_integra,
    'afp_prima': afp_prima,
    'afp_profuturo': afp_profuturo
})

print("RENTABILIDAD ANUAL DE AFP X FONDO")

display(df_raw)

df_calculado = (1+df_raw)**(1/12) - 1

print("RENTABILIDAD MENSUAL DE AFP X FONDO")

display(df_calculado)

RENTABILIDAD ANUALIZADA DE AFP X FONDO

   afp_habitat  afp_integra  afp_prima  afp_profuturo
0       5.1291       5.0048     5.1002         4.9768
1       5.8547       2.9422     4.6171         5.5573
2       8.7947       5.3730     4.9289         5.5165
3      12.5825       4.6428     2.6325         7.0017

RENTABILIDAD MENSUAL DE AFP X FONDO

   afp_habitat  afp_integra  afp_prima  afp_profuturo
0     0.163098     0.161114   0.162640       0.160662
1     0.173994     0.121101   0.154674       0.169662
2     0.209435     0.166887   0.159884       0.169054
3     0.242839     0.155113   0.113484       0.189228

## ESCRITURA DE DATOS

In [45]:
df_calculado.to_parquet("../src/preprocessing/data/aggregated/afp_mensual.parquet")