In [6]:
import yfinance as yf
import pandas as pd


spy = yf.Ticker("SPY")

In [ ]:
# Usar period="max" para obtener todos los datos disponibles
all_data = spy.history(period="max")

In [14]:

def calculate_monthly_returns(df):
    """
    Calcula los retornos mensuales compuestos a partir de datos de precios diarios.

    Parámetros:
    df (pd.DataFrame): DataFrame con un índice de tipo DatetimeIndex y una
                       columna de 'Close' prices.

    Retorna:
    pd.DataFrame: DataFrame con los retornos mensuales.
    """
    # 1. Calcular el retorno diario como un porcentaje
    df['Daily_Return'] = df['Close'].pct_change()

    # 2. Calcular los retornos mensuales compuestos
    # Se suma 1 para obtener el factor de crecimiento diario
    # Se agrupa por mes ('M') y se multiplican los factores de crecimiento con .prod()
    # Finalmente, se resta 1 para obtener el retorno porcentual del mes
    monthly_returns = (1 + df['Daily_Return']).resample('M').prod() - 1

    # Convertir a DataFrame y renombrar la columna para mayor claridad
    monthly_returns_df = monthly_returns.to_frame(name='Monthly_Return')
    
    return monthly_returns_df

In [16]:
calculate_monthly_returns(all_data)

/var/folders/k3/mxmwg9sn6493d3jlrpz_d3dm0000gn/T/ipykernel_16854/1231830229.py:19: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_returns = (1 + df['Daily_Return']).resample('M').prod() - 1

                           Monthly_Return
Date
1993-01-31 00:00:00-05:00        0.000000
1993-02-28 00:00:00-05:00        0.010668
1993-03-31 00:00:00-05:00        0.022400
1993-04-30 00:00:00-04:00       -0.025588
1993-05-31 00:00:00-04:00        0.026969
...                                   ...
2025-05-31 00:00:00-04:00        0.062845
2025-06-30 00:00:00-04:00        0.051386
2025-07-31 00:00:00-04:00        0.023032
2025-08-31 00:00:00-04:00        0.020520
2025-09-30 00:00:00-04:00        0.019161

[393 rows x 1 columns]

In [7]:
def extract_gold_data():
    # download data from the https://datahub.io/core/gold-prices/_r/-/data/monthly.csv
    url = "https://datahub.io/core/gold-prices/r/monthly.csv"
    gold_data = pd.read_csv(url)
    gold_data['Date'] = pd.to_datetime(gold_data['Date'])
    return gold_data

In [8]:
extract_gold_data()

           Date    Price
0    1833-01-01    18.93
1    1833-02-01    18.93
2    1833-03-01    18.93
3    1833-04-01    18.93
4    1833-05-01    18.93
...         ...      ...
2306 2025-03-01  2983.25
2307 2025-04-01  3217.64
2308 2025-05-01  3309.49
2309 2025-06-01  3352.66
2310 2025-07-01  3340.15

[2311 rows x 2 columns]