In [1]:
import yfinance as yf
import pandas as pd


spy = yf.Ticker("SPY")

In [2]:
# Usar period="max" para obtener todos los datos disponibles
all_data = spy.history(period="max")

In [3]:

def calculate_monthly_returns(df):
    """
    Calcula los retornos mensuales compuestos a partir de datos de precios diarios.

    Parámetros:
    df (pd.DataFrame): DataFrame con un índice de tipo DatetimeIndex y una
                       columna de 'Close' prices.

    Retorna:
    pd.DataFrame: DataFrame con los retornos mensuales.
    """
    # 1. Calcular el retorno diario como un porcentaje
    df['Daily_Return'] = df['Close'].pct_change()

    # 2. Calcular los retornos mensuales compuestos
    # Se suma 1 para obtener el factor de crecimiento diario
    # Se agrupa por mes ('M') y se multiplican los factores de crecimiento con .prod()
    # Finalmente, se resta 1 para obtener el retorno porcentual del mes
    monthly_returns = (1 + df['Daily_Return']).resample('M').prod() - 1

    # Convertir a DataFrame y renombrar la columna para mayor claridad
    monthly_returns_df = monthly_returns.to_frame(name='Monthly_Return')
    
    return monthly_returns_df

In [7]:
all_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
1993-01-29 00:00:00-05:00,24.397784,24.397784,24.276402,24.380444,1003200,0.0,0.0,0.0
1993-02-01 00:00:00-05:00,24.397782,24.553844,24.397782,24.553844,480500,0.0,0.0,0.0
1993-02-02 00:00:00-05:00,24.536510,24.623211,24.484489,24.605871,201300,0.0,0.0,0.0
1993-02-03 00:00:00-05:00,24.640536,24.883299,24.623195,24.865959,529400,0.0,0.0,0.0
1993-02-04 00:00:00-05:00,24.952663,25.022024,24.675218,24.970003,531500,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2025-09-08 00:00:00-04:00,648.619995,649.840027,647.229980,648.830017,63133100,0.0,0.0,0.0
2025-09-09 00:00:00-04:00,648.969971,650.859985,647.219971,650.330017,66133900,0.0,0.0,0.0
2025-09-10 00:00:00-04:00,653.619995,654.549988,650.630005,652.210022,78034500,0.0,0.0,0.0
2025-09-11 00:00:00-04:00,654.179993,658.330017,653.590027,657.630005,69934400,0.0,0.0,0.0
2025-09-12 00:00:00-04:00,657.599976,659.109985,656.900024,657.409973,72708800,0.0,0.0,0.0